markdown-it-py==3.0.0
numpy==1.26.4
google-resumable-media==2.7.2
diskcache==5.6.3
protobuf==5.29.3
google-crc32c==1.6.0
aiohttp-retry==2.9.1
scmrepo==3.3.10
ruamel.yaml.clib==0.2.12
dvc-objects==5.1.0
distro==1.9.0
nvidia-nvtx-cu11==11.7.91
cmake==3.31.4
pydot==3.0.4
pip==25.0
pluggy==1.5.0
dvc-http==2.32.0
dvc==3.59.1
typer==0.15.1
frozenlist==1.5.0
wcwidth==0.2.13
prompt_toolkit==3.0.50
dpath==2.2.0
google-auth-oauthlib==1.2.1
pycparser==2.22
Pygments==2.19.1
aiohttp==3.11.12
grandalf==0.8
oauthlib==3.2.2
orjson==3.10.15
charset-normalizer==3.4.1
nvidia-nccl-cu11==2.14.3
MarkupSafe==3.0.2
PyYAML==6.0.2
Jinja2==3.1.5
nvidia-cusolver-cu11==11.4.0.1
pyasn1==0.6.1
nvidia-cusparse-cu11==11.7.4.91
gto==1.7.2
pydantic==2.10.6
gitdb==4.0.12
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cufft-cu11==10.9.0.58
networkx==3.4.2
cachetools==5.5.1
identify==2.6.7
entrypoints==0.4
flatten-dict==0.4.2
appdirs==1.4.4
dvc-studio-client==0.21.0
filelock==3.17.0
typing_extensions==4.12.2
torchvision==0.15.2
asyncssh==2.20.0
pygit2==1.17.0
fsspec==2025.2.0
mdurl==0.1.2
shtab==1.7.1
aiohappyeyeballs==2.4.6
gcsfs==2025.2.0
cffi==1.17.1
yarl==1.18.3
configobj==5.0.9
dvc-data==3.16.9
distlib==0.3.9
flufl.lock==8.1.0
tomlkit==0.13.2
wheel==0.45.1
click-repl==0.3.0
torch==2.0.1
click-didyoumean==0.3.1
docker-pycreds==0.4.0
pillow==11.1.0
setproctitle==1.3.4
google-auth==2.38.0
mpmath==1.3.0
tzdata==2025.1
tabulate==0.9.0
tqdm==4.67.1
lit==18.1.8
idna==3.10
dictdiffer==0.9.0
platformdirs==4.3.6
zc.lockfile==3.0.post1
colorama==0.4.6
rich==13.9.4
psutil==7.0.0
packaging==24.2
proto-plus==1.26.0
atpublic==5.1
python-dateutil==2.9.0.post0
sentry-sdk==2.22.0
certifi==2025.1.31
rsa==4.9
thop==0.1.1-2209072238
opencv-python==4.11.0.86
pyparsing==3.2.1
multidict==6.1.0
nodeenv==1.9.1
attrs==25.1.0
ruamel.yaml==0.18.10
six==1.17.0
amqp==5.3.1
semver==3.0.4
pydantic_core==2.27.2
pre_commit==4.1.0
requests==2.32.3
sympy==1.13.3
antlr4-python3-runtime==4.9.3
cfgv==3.4.0
pygtrie==2.5.0
nvidia-cublas-cu11==11.10.3.66
setuptools==75.8.0
click-plugins==1.1.1
pytest==8.3.4
nvidia-cudnn-cu11==8.5.0.96
voluptuous==0.15.2
click==8.1.8
iterative-telemetry==0.0.10
funcy==2.0
dulwich==0.22.7
pyasn1_modules==0.4.1
wandb==0.19.6
dvc-task==0.40.2
smmap==5.0.2
pathspec==0.12.1
googleapis-common-protos==1.67.0
propcache==0.2.1
celery==5.4.0
nvidia-cuda-nvrtc-cu11==11.7.99
pytz==2025.1
triton==2.0.0
omegaconf==2.3.0
annotated-types==0.7.0
sqltrie==0.11.1
cryptography==44.0.1
urllib3==2.3.0
vine==5.1.0
pandas==2.2.3
google-cloud-core==2.4.2rc0
billiard==4.2.1
google-api-core==2.24.1
virtualenv==20.29.2
decorator==5.1.1
shellingham==1.5.4
GitPython==3.1.44
dvc-gs==3.0.1
requests-oauthlib==2.0.0
nvidia-cuda-cupti-cu11==11.7.101
kombu==5.4.2
hydra-core==1.3.2
iniconfig==2.0.0
shortuuid==1.0.13
aiosignal==1.3.2
dvc-render==1.0.2
nvidia-curand-cu11==10.2.10.91
google-cloud-storage==3.0.0
